@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
html{
  /* Safariでopacityの操作をすると描画がチラつく */
  -webkit-font-smoothing: antialiased;
}
html,
body{
  height:100%;
}
body{
  color:#333;
  background: #fff;
  font-family:"YuGothic Medium","Yu Gothic Medium","游ゴシック Medium","游ゴシック体 Medium",YuGothic,"Yu Gothic","游ゴシック","游ゴシック体","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  font-size: 18px;
  line-height:200%;
}
table{
  border-collapse:collapse;
  width: 100%;
}
th,td{
  padding:1.2em;
  border:1px solid #dbdbdb;
}
th{
  background:#f0f0ed;
  font-weight:normal;
  text-align:left;
}
td{
  background:#fff;
}
fieldset,img{border:0;}
ul{list-style-type:none;}
a{
  text-decoration:underline;
  transition : all 0.2s ease;
  color:#232330;
}
a:hover{
  color:#888;
  text-decoration: none;
}
/* input */
input[type="text"]{}
input[type="text"],
input[type="search"],
input[type="email"],
textarea{
  border:1px solid #c8c8c8;
  border-radius: 5px;
  position:relative;
  background:#fff ;
  line-height:160%;
  padding:4px 3px 4px 3px;
  font-size:100%;
}
input[type="text"]:hover,
input[type="search"]:hover,
input[type="email"]:hover,
textarea:hover{
  background: #f1f1f1;
}
input[type="submit"]{
  border:1px solid #c8c8c8;
  border-radius: 5px;
  background:#f1f1f1;
  line-height:160%;
  padding:4px 6px 4px 6px;
}
hr{
  border:dotted #ddd;
  border-width:1px 0 0 0;
}
a img{}
a img:focus,
a img:hover{
  opacity:0.8;
}
img{
  max-width: 100%;
}

.content{
  max-width: 960px;
  margin: 0 auto;
}

h1{
  font-size: 3em;
  line-height: 1.2em;
  color: #3acbff;
}
h1 span{
  display: block;
  line-height: 1em;
}


h2{
  font-size: 3em;
  margin: 1em 0;
}

h2 .price{
  font-size: 2em;
  line-height: 1.0em;
}

h3{
  font-size: 1.8em;
}

.domain_base {
  color: #333;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

.preloader{
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -30px;
  display: none;
  width: 40px;
}
.preloader.start{
  display: block;
}
.preloader.comp{
  display: none;
}

.domain_check{
  max-width: 500px;
  margin: 40px auto;
  overflow: hidden;
  padding: 40px 60px;
  background: #eb6514;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
}
.domain_check h2{
  margin:0;
  margin-bottom: 1em;
  color: #fff;
}
.domain_check .domain_name{
  border: none;
  float: left;
  font-size: 30px;
  line-height: 60px;
  padding: 0 6px;
  max-width: 370px;
  width: 100%;
  box-sizing: border-box;
}
.domain_check .submit{
  font-size: 30px;
  float: left;
  margin-left: 10px;
  text-align: center;
  width: 120px;
  display: inline-block;
  padding: 0 20px;
  line-height: 60px;
  border-radius: 4px;
  color: #fff;
  background: linear-gradient(#22c34b, #00a62b);
  border: 2px solid #22c34b;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
}
.domain_check .submit:hover{
  background: linear-gradient(#22c34b, #22c34b);  
}

.first_view{
  background: #000;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}
.head_logo{
  max-width: 430px;
  width: 100%;
  vertical-align: bottom;
}

.general h2{
  color: #fff;
  line-height: 100%;
  padding: 30px 20px;
  font-size: 2.6em;
  margin: 3em 0 1em;
  background: #000 url(../img/icon_logo.png) no-repeat 20px 50%;
  background-size: auto 90%;
  padding-left: 15%;
  border-radius: 4px;
  opacity: 0;
}
.general h2 span{
  margin-left: 20px;
}
.general p{
  margin: 1em 0;
}

.merit{
  background: #f6f6f6;
  border: 6px solid #eee;
  box-sizing: border-box;
  padding: 30px;
  margin-bottom: 30px;
}
.merit p{
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid #ddd;
}


.voice dl{
  margin-bottom: 50px;
}
.voice dl dt{
  border-bottom: 1px dotted #aaa;
}

.faq{
  overflow: hidden;
}
.faq dl{
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 20px 50px;
  margin-bottom: 50px;
  line-height: 160%;
}
.faq dl:nth-child(odd){
  padding-left: 0;
  content: "";
  display: block;
  clear: both;
}
.faq dl:nth-child(even){
  padding-right: 0;
}
.faq dt{
  color: #1284db;
  font-weight: bold;
  min-height: 50px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.faq dt:before{
  content: "Q1";
  display: inline-block;
  margin-right: 10px;
  background: #1284db;
  color: #fff;
  padding: 2px 6px;
}
.faq dd:before{
  content: "A1";
  display: inline-block;
  margin-right: 10px;
  background: #909090;
  color: #fff;
  padding: 2px 6px;
}
.faq dl:nth-child(2) dt:before{
  content: "Q2";
}
.faq dl:nth-child(3) dt:before{
  content: "Q3";
}
.faq dl:nth-child(4) dt:before{
  content: "Q4";
}
.faq dl:nth-child(5) dt:before{
  content: "Q5";
}
.faq dl:nth-child(6) dt:before{
  content: "Q6";
}
.faq dl:nth-child(7) dt:before{
  content: "Q7";
}
.faq dl:nth-child(8) dt:before{
  content: "Q8";
}
.faq dl:nth-child(2) dd:before{
  content: "A2";
}
.faq dl:nth-child(3) dd:before{
  content: "A3";
}
.faq dl:nth-child(4) dd:before{
  content: "A4";
}
.faq dl:nth-child(5) dd:before{
  content: "A5";
}
.faq dl:nth-child(6) dd:before{
  content: "A6";
}
.faq dl:nth-child(7) dd:before{
  content: "A7";
}
.faq dl:nth-child(8) dd:before{
  content: "A8";
}







@media screen and (max-width: 1200px){

}


@media screen and (max-width: 800px){
  th,td{
    padding:0.2em;
    border:1px solid #dbdbdb;
  }
  h2 .price{
    display: block;
  }
  .domain_check{
    padding: 20px 12px;
  }
}


.cb{clear:both; line-height:0;}
.fr{float:right;}
.fl{float:left;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:16px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt80{margin-top:80px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:16px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mr3{margin-right:3px;}
.mr10{margin-right:10px;}
.mr15{margin-right:16px;}
.ml10{margin-left:10px;}
.ml15{margin-left:16px;}
.pdt10{padding-top:10px;}
.pdt15{padding-top:16px;}
.pdt20{padding-top:20px;}
.pdt25{padding-top:25px;}
.pdt30{padding-top:30px;}
.hand{cursor:pointer;}
.dn{display:none;}
.db{display:block;}
.tr{text-align:right;}
.tl{text-align:left;}
.tcenter{text-align:center;}
.f20{font-size:20px;}
.f15{font-size:16px;}
.f13{font-size:13px;}
.f12{font-size:12px;}
.f11{font-size:11px;}
.f10{font-size:10px;}
.lh140{line-height:140%;}
.vm{vertical-align:bottom;}
.clear{clear:both;}
.red{color:#ff0000;}
.blue{color:#41b7ec;}
.blue2{color:#0f7bc6;}
.yellow{color:#FFEF3B;}
.gray{color:#a6a6a6;}
