@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
html{
  /* Safariでopacityの操作をすると描画がチラつく */
  -webkit-font-smoothing: antialiased;
}
html,
body{
  height:100%;
}
body{
  color:#333;
  background: #fff;
  font-family:"YuGothic Medium","Yu Gothic Medium","游ゴシック Medium","游ゴシック体 Medium",YuGothic,"Yu Gothic","游ゴシック","游ゴシック体","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  font-size:16px;
  line-height:200%;
}
table{
  border-collapse:collapse;
  width: 100%;
}
th,td{
  padding:1.2em;
  border:1px solid #dbdbdb;
}
th{
  background:#f0f0ed;
  font-weight:normal;
  text-align:left;
}
td{
  background:#fff;
}
fieldset,img{border:0;}
ul{list-style-type:none;}
a{
  text-decoration:underline;
  transition : all 0.2s ease;
  color:#232330;
}
a:hover{
  color:#888;
  text-decoration: none;
}
/* input */
input[type="text"]{}
input[type="text"],
input[type="search"],
input[type="email"],
textarea{
  border:1px solid #c8c8c8;
  border-radius: 5px;
  position:relative;
  background:#fff ;
  line-height:160%;
  padding:4px 3px 4px 3px;
  font-size:100%;
}
input[type="text"]:hover,
input[type="search"]:hover,
input[type="email"]:hover,
textarea:hover{
  background: #f1f1f1;
}
input[type="submit"]{
  border:1px solid #c8c8c8;
  border-radius: 5px;
  background:#f1f1f1;
  line-height:160%;
  padding:4px 6px 4px 6px;
}
hr{
  border:dotted #ddd;
  border-width:1px 0 0 0;
}
a img{}
a img:focus,
a img:hover{
  opacity:0.8;
}
img{
  max-width: 100%;
}

.content{
  max-width: 960px;
  margin: 0 auto;
}

h1{
  font-size: 10em;
  line-height: 1.2em;
}
h1 small{
  display: block;
  font-size: 0.6em;
  line-height: 1em;
}


h2{
  font-size: 3em;
  margin: 1em 0;
}

.ticket{
  max-width: 300px;
  margin: 0 auto;
}
.ticket li{
  font-size: 0.8em;
  line-height: 1.4em;
  border-bottom: 1px solid #ddd;
}
.ticket li a{
  text-decoration: none;
  display: table;
  width: 100%;
  padding: 1em 0;
}
.ticket li .price{
  display: block;
}
.ticket li .price_b{
  text-align: right;
  font-size: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



@media screen and (max-width: 1200px){

}


@media screen and (max-width: 800px){

}


.cb{clear:both; line-height:0;}
.fr{float:right;}
.fl{float:left;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:16px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt80{margin-top:80px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:16px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mr3{margin-right:3px;}
.mr10{margin-right:10px;}
.mr15{margin-right:16px;}
.ml10{margin-left:10px;}
.ml15{margin-left:16px;}
.pdt10{padding-top:10px;}
.pdt15{padding-top:16px;}
.pdt20{padding-top:20px;}
.pdt25{padding-top:25px;}
.pdt30{padding-top:30px;}
.hand{cursor:pointer;}
.dn{display:none;}
.db{display:block;}
.tr{text-align:right;}
.tcenter{text-align:center;}
.f20{font-size:20px;}
.f15{font-size:16px;}
.f13{font-size:13px;}
.f12{font-size:12px;}
.f11{font-size:11px;}
.f10{font-size:10px;}
.lh140{line-height:140%;}
.vm{vertical-align:bottom;}
.clear{clear:both;}
.red{color:#ff0000;}
.blue{color:#41b7ec;}
.blue2{color:#0f7bc6;}
.yellow{color:#FFEF3B;}
.gray{color:#a6a6a6;}
