#music-bars {
  position: absolute;
  top: -80px;
  left: 0;
  z-index:1;
  text-align: center;
  width: 100%;
}
#music-bars span {
  background: rgba(0,0,0,1);
  display: inline-block;
  width: 39px;
  margin:0 5px;
  mix-blend-mode: overlay;
}

#music-bars span.blue{
/*  background: linear-gradient(rgba(24,187,255,0.1), rgba(24,187,255,0.9));*/
/*  box-shadow:0px 0px 5px 2px rgba(24,187,255,0.2); */
  background: linear-gradient(to bottom, rgba(7,127,211,0.9) 0%, rgba(7,127,211,0.2) 48%, rgba(7,127,211,0.3) 100%);
}
#music-bars span.orange{
/*  box-shadow:0px 0px 5px 2px rgba(255,95,24,0.2); */
  background: linear-gradient(to bottom, rgba(211,79,7,0.9) 0%, rgba(211,79,7,0.2) 48%, rgba(211,79,7,0.3) 100%);
}
#music-bars span.green{
/*  box-shadow:0px 0px 5px 2px rgba(116,255,24,0.2); */
  background: linear-gradient(to bottom, rgba(117,211,7,0.9) 0%, rgba(117,211,7,0.2) 48%, rgba(117,211,7,0.3) 100%);
}
#music-bars span.red{
/*  box-shadow:0px 0px 5px 2px rgba(255,24,24,0.2); */
  background: linear-gradient(to bottom, rgba(246,36,70,0.9) 0%, rgba(246,36,70,0.2) 48%, rgba(246,36,70,0.3) 100%);
}
#music-bars span.purple{
/*  box-shadow:0px 0px 5px 2px rgba(214,24,255,0.2); */
  background: linear-gradient(to bottom, rgba(187,21,173,0.9) 0%, rgba(187,21,173,0.2) 48%, rgba(187,21,173,0.3) 100%);
}
#music-bars span.yellow{
/*  box-shadow:0px 0px 5px 2px rgba(255,255,24,0.2); */
  background: linear-gradient(to bottom, rgba(211,170,7,0.9) 0%, rgba(211,170,7,0.2) 48%, rgba(211,170,7,0.3) 100%);
}
.equalizer_bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/equalizer_bg.png);
}


/* Light */
.light0{
  position: absolute;
  top: 20px;
  left: -1500px;
  z-index: 1;
  opacity: 0.1;
}
.light1{
  position: absolute;
  top: -80px;
  left: 1500px;
  z-index: 1;
  opacity: 0.1;
}
.light2{
  position: absolute;
  top: 300px;
  right: -500px;
  z-index: 1;
  width: 700px;
  opacity: 0.2;
}
.light3{
  position: absolute;
  top: 40px;
  left: 500px;
  z-index: 1;
  width: 700px;
  opacity: 0.2;
}
.light4{
  position: absolute;
  top: -100px;
  left: 200px;
  z-index: 1;
  width: 600px;
  opacity: 0.2;
}
.light5{
  position: absolute;
  top: -100px;
  left: 500px;
  z-index: 1;
  width: 600px;
  opacity: 0.2;
}


@media screen and (max-width: 800px){
  #music-bars {
    top: -200px;
  }
  .light0,
  .light1,
  .light2,
  .light3{
    width: 500px;
  }
  .light4,
  .light5{
    width: 400px;
  }
}

@media screen and (max-width: 425px){
  #music-bars span {
    width: 20px;
  }
  #music-bars {
    top: -300px;
  }
}