
/* Intro */
.intro{
  color: #000;
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.countup{
  letter-spacing: -1px;
  font-size: 270px;
  width: 620px;
  line-height: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -310px;
  text-align: center;
  opacity: 1;
  text-shadow: 8px 8px 12px rgba(255,255,255,0.5), -8px 8px 12px rgba(255,255,255,0.4), 8px -8px 12px rgba(255,255,255,0.4);
  color: rgba(0,0,0,0.9);
  z-index: 2;
}
.intro .title{
  font-size: 190px;
  letter-spacing: -5px;
  line-height: 100%;
  z-index: 10;
  width: 2200px;
  text-shadow: 8px 8px 12px rgba(255,255,255,0.5), -8px 8px 12px rgba(255,255,255,0.4), 8px -8px 12px rgba(255,255,255,0.4);
  color: rgba(0,0,0,0.9);
}
.intro .title_right{
  top: 30%;
  left: 2000px;
}
.intro .title_left{
  top: 40%;
  left: -2000px;
}
.intro .title,
.intro .countup,
.intro .photo,
.intro .tt{
  position: absolute;
  z-index: 2;
}
.intro .photo img{
  max-width: 100%;
  height: auto;
}
.intro .tt{
  text-align: left;
  font-size: 120px;
  width: 600px;
  line-height: 1em;
  text-shadow: 8px 8px 12px rgba(255,255,255,0.5), -8px 8px 12px rgba(255,255,255,0.4), 8px -8px 12px rgba(255,255,255,0.4);
  color: rgba(0,0,0,0.9);
}
.intro .photo0{
  width: 90%;
  max-width: 600px;
  left: 50%;
  margin-left: -33%;
}
.intro .tt0{
  top: 50%;
  left: 2000px;
  z-index: 10;
}
.intro .photo{
  top: 700px;
}
.intro .tt small{
  display: block;
  font-size: 0.7em;
  line-height: 1em;
}

.intro .photo1{
  width: 90%;
  max-width: 600px;
  left: 50%;
  margin-left: 0;
  z-index: 11;
}
.intro .tt1{
  top: 40%;
  left: 2000px;
  z-index: 21;
}

.intro .photo2{
  width: 90%;
  max-width: 600px;
  left: 50%;
  margin-left: -33%;
  z-index: 12;
}
.intro .tt2{
  top: 50%;
  left: 2000px;
  z-index: 22;
}

.intro .photo3{
  width: 90%;
  max-width: 600px;
  left: 50%;
  margin-left: 0;
  z-index: 13;
}
.intro .tt3{
  top: 40%;
  left: 2000px;
  z-index: 23;
}

.intro .photo4{
  width: 90%;
  max-width: 600px;
  left: 50%;
  margin-left: -33%;
  z-index: 14;
}
.intro .tt4{
  top: 50%;
  left: 2000px;
  z-index: 24;
}


.intro_top_logo,
.intro_top_tel,
.intro_top_time,
.intro_top_sub,
.intro_top_p1,
.intro_top_p2{
  opacity: 0;
  line-height: 100%;
}
.intro_top_p1,
.intro_top_p2{
  position: absolute;
  z-index: 3;
}
.intro_top_p1{
  top: 0;
  left: 50%;
  margin-left: -40%;
  max-width: 393px;
  width: 33%;
  text-align: right;
}
.intro_top_p2{
  top: 0;
  left: 50%;
  margin-left: 15%;
  max-width: 393px;
  width: 33%;
  text-align: left;
}
.intro_top_finsh img,
.intro_top_p1 img,
.intro_top_p2 img{
  vertical-align: bottom;
  max-width: 100%;
}
.intro_top_logo{
  padding-top: 10px;
}
.intro_top_logo,
.intro_top_tel,
.intro_top_time,
.intro_top_sub{
  max-width: 44%;
  margin: 0 auto;
}
.intro_top_logo_set{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}


@media screen and (max-width: 1024px){
  .intro .photo0,
  .intro .photo2,
  .intro .photo4{
    margin-left: -44%;
  }
  .intro .photo1,
  .intro .photo3{
  left: 35%;
  }
}

@media screen and (max-width: 800px){
  .intro .photo0,
  .intro .photo1,
  .intro .photo2,
  .intro .photo3,
  .intro .photo4{
    max-width: 400px;
  }
  .intro .photo1,
  .intro .photo3{
  left: 45%;
  }
  .intro{
    height: 530px;
  }
}

@media screen and (max-width: 425px){
  .intro{
    height: 300px;
  }
  .intro .photo0,
  .intro .photo1,
  .intro .photo2,
  .intro .photo3,
  .intro .photo4{
    max-width: 200px;
  }
  .intro .photo1,
  .intro .photo3{
    left: 30%;
    margin-left: 0;
  } 
  .countup{
    font-size: 100px;
    width: 310px;
    line-height: 180px;
    margin-top: -90px;
    margin-left: -155px;
  }
  .intro .title{
    font-size: 80px;
    width: 1000px;
  }  
  .intro .title_right{
    top: 10%;
    left: 900px;
  }
  .intro .title_left{
    top: 25%;
    left: -900px;
  }
  .intro .tt0,
  .intro .tt1,
  .intro .tt2,
  .intro .tt3,
  .intro .tt4{
    left: 900px;
    font-size: 60px;
  }
  .intro .tt small{
    font-size: 0.4em;
  }
  .intro_top_logo{
    padding-top: 14%;
  }

}


