body {
  background: rgba(225, 227, 225, 1);
}
@media only screen and (min-width: 1024px) {
}

html.wp-toolbar {
  padding-top: 0;
}

a {
  color: rgba(44, 96, 88, 1);
  transition: all 0.2s ease;
}
a:hover{
  color: #17413b;
}
textarea{
  max-width: 100%;
  width: 100%;
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  background: rgba(44, 96, 88, 1);
  /*  background: rgba(205, 233, 241, 1);*/
}
div.wp-menu-image:before,
.dashicons-before:before {
  /*  content: normal;*/
}
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu {
  background: rgba(44, 96, 88, 1);
  color: rgba(205, 233, 241, 1);
}
#collapse-menu {
  display: none;
}
#adminmenu .wp-has-current-submenu.opensub .wp-submenu{
  background: #0b2824;
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {
  background: #719892;
}
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus {
  background: rgba(205, 233, 241, 1);
  color: rgba(44, 96, 88, 1);
}
.dashicons-before:before,
.wp-menu-name {
  line-height: 36px;
}
.opensub .wp-submenu.wp-submenu-wrap{
  display: none;
}


#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
  display: none;
}
.folded ul#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
  display: none;
}
#adminmenu .wp-submenu-head,
#adminmenu a.menu-top {
  font-size: 13px;
}
#adminmenu .wp-submenu li.current a:hover {
  color: rgba(44, 96, 88, 1);
}
#adminmenu a:hover div {
  background: rgba(205, 233, 241, 1) !important;
  color: rgba(44, 96, 88, 1) !important;
}
#adminmenu a.menu-top:hover div.wp-menu-image:before {
  color: rgba(44, 96, 88, 1) !important;
}
#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  width: 240px;
}
#wpcontent,
#wpfooter {
  margin-left: 240px;
}
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
  border-right-color: rgba(225, 227, 225, 1);
}
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
  color: rgba(225, 227, 225, 1);
}
#adminmenu li {}
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus,
.wp-has-submenu:hover{
  position: relative;
  background: rgba(205, 233, 241, 1) !important;
  color: rgba(44, 96, 88, 1) !important;
}
#adminmenu li>a.menu-top:focus .wp-menu-image:before,
.wp-has-submenu:hover .wp-menu-name,
.wp-has-submenu:hover .wp-menu-image:before{
  color: rgba(44, 96, 88, 1) !important;  
}
#adminmenu .wp-submenu-head,
#adminmenu a.menu-top {
}
#adminmenu .wp-submenu {
  left: 240px;
}
#adminmenu .wp-has-current-submenu .wp-submenu {
  background: #0b2824;
  box-sizing: border-box;
}
#adminmenu .wp-has-current-submenu .wp-submenu a{
}
#adminmenu div.wp-menu-image {
  margin-left: 20px;
}
@media only screen and (max-width: 960px) {
  #adminmenu div.wp-menu-image {
    margin-left: 0;
  }
}
#adminmenu .wp-submenu-head, #adminmenu a.menu-top{
}
#adminmenu a.wp-submenu{
}
#adminmenu .wp-menu-open a.wp-has-current-submenu{

}
#adminmenu .wp-has-current-submenu ul>li>a{
  font-size: 12px;
  padding: 10px 0 10px 40px;
}
#adminmenu .wp-not-current-submenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu{
  min-width: 240px;
}
#adminmenu li.wp-menu-separator{
  background: rgba(205, 233, 241, 0.3);
  height: 1px;
  margin-bottom: 0;
}
#adminmenu{
  margin-top: 0;
}
#adminmenu div.wp-menu-name{
  font-weight: bold !important;
}
#adminmenu a{
  color: rgba(255,255,255,0.8);
}
.index-php .postbox-container{
  float: none;
  width: 100% !important;
}
.index-php .postbox .inside, .stuffbox .inside {
  font-size: 10px !important;
}
.index-php #dashboard_right_now li{
  float: none;
  width: auto;
  display: inline-block;
}
.index-php #dashboard_right_now li a:before, #dashboard_right_now li span:before{
  font-size: 10px !important;    
}
.index-php #dashboard_right_now h2{
  display: none !important;
}
.index-php .postbox .inside{
  margin: 0;
}
.index-php .postbox{
  background: none;
  border: none;
  box-shadow: none;
}
.index-php .js .postbox .handlediv{
  display: none;
}
.index-php .postbox p {
  font-size: 10px;
  display: inline-block;
}
.index-php #dashboard_right_now .sub{
  background: none;
  border: none;
  padding: 0;
}
.index-php #dashboard_right_now .main{
  padding: 0;
}
.index-php #dashboard_right_now li{
  margin-bottom: 0;
}
.index-php #dashboard_right_now .inside div{
  display: inline-block;
}
.index-php #dashboard-widgets-wrap .postbox{
  margin-right: 0;
}
.index-php .postbox .hndle, .stuffbox .hndle{
  border-bottom: 0;
  cursor: auto !important;
  padding: 0 !important;
}
.index-php .postbox .hndle{
  font-size: 12px !important;
  background: #333;
  color: rgba(225, 227, 225, 1);
  display: inline-block;
  padding: 3px 7px !important;
}
.index-php .postbox .inside{
  padding: 0 !important;    
}
#adminmenu .wp-submenu a{
  padding: 8px 10px !important;
}
#adminmenu .wp-has-current-submenu a.menu-top{
}
#adminmenu .wp-has-current-submenu .wp-menu-name{
}
#adminmenu .wp-has-current-submenu .wp-menu-image{
  /* margin-top: 8px; */
}  
#dashboard-widgets{
  font-size: 50px;
}
.index-php .analytics{
  width: 100%;
  height: 880px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 30px;
/*    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);*/
  border-bottom:1px solid #ccc;
}
.index-php .postbox .hndle,
.index-php .handlediv{
  pointer-events : none;
}
.index-php #dashboard-widgets-wrap .toggle-indicator{
  display: none;
}
.dashboard_content h2{
  font-size: 12px !important;
  background: #333;
  color: rgba(225, 227, 225, 1);
  display: inline-block;
  padding: 5px 7px !important;
  line-height: 120% !important;
  margin-bottom: 10px !important;
}
.dashboard_content{
  font-size: 0.9em;
  line-height: 1.6em;
}
.index-php #wpbody-content .metabox-holder{
  padding-top: 0 !important;
}
.dashboard_navi{
  overflow: hidden;
  padding-bottom: 20px;
}
.dashboard_navi li{
  min-width: 33%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}
.dashboard_navi li a{
  display: block;
  font-size: 14px;
  text-align: center;
  background: #0b2824;
  color: rgba(225, 227, 225, 1);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
  transition:all 0.2s ease;  
  text-decoration:none;
  text-align: center;
  position: relative;
}
.dashboard_navi li span{
  display: block;
  line-height: 70px;
}
.dashboard_navi li span:before{
  font-family: dashicons;
  content: "\f488";
  font-size: 60px;
  margin-right: 5px;
  vertical-align: bottom;
}
/* link animation */
.dashboard_navi li a::before,
.dashboard_navi li a::after {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 2;
  content: '';
  transition: all .3s;
}
.dashboard_navi li a::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: scale(0, 1);
}
.dashboard_navi li a::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: scale(1, 0);
}
.dashboard_navi li a:hover::after,
.dashboard_navi li a:hover::before {
  transform: scale(1);
}
.dashboard_navi li a:hover{
  color: #0b2824;
/*    background: rgba(225, 227, 225, 1);*/
  background: #fff;
}
.dashboard_navi li:nth-child(2) span:before{
  content: "\f336";
}
.dashboard_navi li:nth-child(3) span:before,
.dashboard_navi li:nth-child(4) span:before{
  content: "\f464";
}
#wpadminbar{
  background: rgba(44, 96, 88, 1) !important;
  display: none;
}
@media screen and (max-width: 782px){
  #wpadminbar{
    display: block;
  }
}
.post-type-girls .wp-list-table .attachment-thumbnail{
  height: 60px;
  width: auto;
}
.wp-list-table thead th,
.wp-list-table tfoot th{
  font-size: 11px !important;
  padding: 0 !important;
}
.wp-list-table thead th a,
.wp-list-table tfoot th a{
  padding-top : 2px !important;
  padding-bottom : 2px !important;
}
.tablenav{
  font-size: 11px !important;
  padding-bottom: 10px;   
}
.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary,.tablenav .actions select{
  font-size: 10px;
}
.wrap h1{
  display: inline-block;
  padding-top: 0 !important;
  padding-left: 5px !important;
}
.subsubsub{
  margin-top: 0 !important;
}
.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active{
  color: rgba(44, 96, 88, 1);
}
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
  background: rgba(44, 96, 88, 1);
  color: rgba(205, 233, 241, 1);
}
.page-title-action:focus {
  color: rgba(205, 233, 241, 1);
}
.row-actions{
  font-size: 12px;
  padding-top: 5px;
}
.post-type-girls .row-actions .inline.hide-if-no-js{
  display: none;
}
.has-row-actions a:hover{
 text-decoration: underline;
}
.post-type-girls .row-title{
  font-size: 17px !important;
  padding: 5px 14px;
  padding-left: 0;
  line-height: 100% !important;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(#fff, #f1f1f1);
  text-align: center;
}
.post-type-girls .row-title:hover{
  transition: all 0.2s ease;
  background: #0b2824;
  color: #fff;
  text-decoration: none;
}
.has-dfw .quicktags-toolbar{
  display: none;
}
#wp-content-editor-tools{
  background: none !important;
}
.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large{
  font-size: 16px !important;
  padding: 5px 20px !important;
  line-height: auto !important;
  height: auto !important;
}
.schedule_date label:after{
  font-size: 11px;
}
.schedule_date .Mon:after{
  content: "（月）";
}
.schedule_date .Tue:after{
  content: "（火）";
}
.schedule_date .Wed:after{
  content: "（水）";
}
.schedule_date .Thu:after{
  content: "（木）";
}
.schedule_date .Fri:after{
  content: "（金）";
}
.schedule_date .Sat:after{
  content: "（土）";
}
.schedule_date .Sun:after{
  content: "（日）";
}
.schedule_date .Sat{
  color: #0000cc;
}
.schedule_date .Sun{
  color: #cc0000;
}
.post-type-girls #cft1 #cft_1 input[type="file"],
.post-type-girls #cft2 #cft_2 input[type="file"]{
  height: 80px;
  width: 270px;
  background: #f1f1f1 url(../img/bg_upload.png) no-repeat center center;
  background-size: contain;
  border:5px dotted #ddd;
  float: left;
  margin-right: 10px;
  font-size: 9px;
  line-height: 120%;
  cursor: pointer;
}
.post-type-girls #cft1 #cft_1 input[type="file"]:hover,
.post-type-girls #cft2 #cft_2 input[type="file"]:hover{
  background-color: #fff;
}
.post-type-girls #cft1 #cft_1 .img_preview,
.post-type-girls #cft2 #cft_2 .img_preview{
  width: 20%;
  max-width: 80px;
  float: right;
}
.post-type-girls #cft1 #cft_1 .dl_file dd p,
.post-type-girls #cft2 #cft_2 .dl_file dd p{
  width: 20%;
  max-width: 80px;
  float: left;
  margin: 0;
  font-size: 9px;
  line-height: 120%;
}
.post-type-girls #cft1 #cft_1 .dl_file dd p label,
.post-type-girls #cft2 #cft_2 .dl_file dd p label{
  font-size: 12px;
  line-height: 100%;
  border: 1px solid #ddd;
  display: inline-block;
  padding: 2px 8px 2px 2px;
  background: #cc0000;
  color: #fff;
}
.post-type-girls #cft1 #cft_1 .dl_file dd p label:hover,
.post-type-girls #cft2 #cft_2 .dl_file dd p label:hover{
  background: #fff;
  color: #cc0000;
}
.post-type-girls #cft1 #cft_1 .dl_file dd p img,
.post-type-girls #cft2 #cft_2 .dl_file dd p img{
  height: 70px;
  width: auto;
}
.my_admin_guide{
  position: fixed;
  bottom: 0;
  right: 24px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: rgba(255,255,255,0.8);
  display: inline-block;
}
.my_admin_guide h1{
  margin: 0;
  padding: 5px 0;
  font-size: 10px;
  font-weight: normal;
  line-height: 100%;
  background: rgba(0,0,0,0.8);
  color: #c2c2c2;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.my_admin_guide ul,
.my_admin_guide li{
  margin: 0;
  padding: 0;
}
.my_admin_guide ul{
  overflow: hidden;
  margin: 2px;
  padding-bottom: 0px;
  transition: all 0.2s ease;
}
.my_admin_guide li{
  float: left;
  box-sizing: border-box;
  padding: 2px 6px;
}
.my_admin_guide:hover{
  background: rgba(0,0,0,0.8);
}
.my_admin_guide:hover ul{
  padding-bottom: 30px;
}
.my_admin_guide:hover ul li{
  padding-top: 10px;
}
.my_admin_guide li a{
  transition: all 0s ease;
  text-decoration: none;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 14px;
  background: linear-gradient(#fff, #f1f1f1);
  color: #999;
  font-weight: bold;
  font-size: 11px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}
.my_admin_guide li a:hover{
  background: #ddd;
  color: #000;
}
.row-actions .inline,
.row-actions .trash{
/*    display: none;*/
}
.edit-php.post-type-girls .inline-edit-col-left,
.edit-php.post-type-girls .inline-edit-status{
  display: none;
}
#wpbody-content .inline-edit-row-page .inline-edit-col-right{
  margin-top: 0!important;
  display: inline-block;
  width: auto!important;
  margin-right: 20px;
  margin-left: 10px;
}
.edit-php.post-type-girls .quick-edit-row fieldset label span.title{
  display: inline-block;
  float: none;
  width: auto;
}
.edit-php.post-type-girls tr.inline-edit-row td{
  padding-top: 5px;
}
.inline-edit-col-right_mycustom .name{
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
}

.input_int{
  ime-mode: disabled;
}

.admin_ranking iframe{
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  height: 3000px;
}




#menu-posts.menu-top-first .dashicons-before:before{
  content: "\f488";
}
.menu-icon-girls .dashicons-before:before{
  content: "\f336";
}
.menu-icon-blog .dashicons-before:before,
.menu-icon-blog_night .dashicons-before:before{
  content: "\f464";
}
.menu-icon-event .dashicons-before:before{
  content: "\f155";
}
.menu-icon-system .dashicons-before:before{
  content: "\f111";
}
.menu-icon-slide .dashicons-before:before{
  content: "\f233";
}

.wp-not-current-submenu.menu-top.menu-icon-generic.toplevel_page_ranking_g,
.wp-not-current-submenu.menu-top.menu-icon-generic.toplevel_page_ranking_n{
  display: none;
}

#toplevel_page_ranking .dashicons-before:before{
  content: "\f313";
}


.toplevel_page_ranking_g #wpadminbar,
.toplevel_page_ranking_n #wpadminbar{
  display: none;
}
.toplevel_page_ranking_g #wpbody,
.toplevel_page_ranking_n #wpbody{
  padding-top: 0;
}
.sort_list{
  max-width: 700px;
  margin: 0 auto;  
}
.ranking_list{
  margin-bottom: 5px;
  display: table;
  width: 100%;
  border-radius: 8px;
  border: 3px dotted #aaa;
  padding: 2px;
  background: rgba(255,255,255,0.4);
  box-sizing: border-box;
}
.ranking_list p{
  display: table-cell;
  width: 40%;
  font-size: 13px;
  line-height: 100%;
  margin: 0;
  font-weight: bold;
}
.ranking_list p.rank{
  width: 20%;
  text-align: right;
  padding-right: 1em;
}
.ranking_list p small{
  font-size: 13px;
  margin-left: 3px;
}
.ranking_list p input{
  font-size: 13px;
}
.ranking_base .submit{
  text-align: center;
}
.ranking_base .submit input{
  margin: 0 8px;
  border-radius: 4px;
  border: 1px solid #006799;
  font-size: 17px;
  line-height: 100%;
  padding: 8px 20px;
  background: #0085ba;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.ranking_base .submit input.reset{
  background: #333;
  box-shadow: 0 1px 0 #888;
  border: 1px solid #111;
  cursor: pointer;
}
.complete{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ff0000;
  padding-bottom: 15px;
  line-height: 100%;
  height: 20px;
}
.ranking_list.sort_1 p,
.ranking_list.sort_1 p input{
  font-size: 27px;
}
.ranking_list.sort_2 p,
.ranking_list.sort_2 p input{
  font-size: 23px;
}
.ranking_list.sort_3 p,
.ranking_list.sort_3 p input{
  font-size: 18px;
}
.ranking_list.sort_4 p,
.ranking_list.sort_4 p input{
  font-size: 15px;
}
.ranking_list.sort_5 p,
.ranking_list.sort_5 p input{
  font-size: 15px;
}
.ranking_list:hover p.input:after{
  content: "更新中";
  font-size: 13px;
  color: rgba(44, 96, 88, 1);
  margin: 2px;
  float: right;
}



/* SYSTEM POST SLIDE POST */
.wp-admin.post-type-system .postarea.wp-editor-expand,
.wp-admin.post-type-slide .postarea.wp-editor-expand{
  display: none;
}
.wp-has-submenu.menu-icon-system .wp-submenu.wp-submenu-wrap,
.wp-has-submenu.menu-icon-slide .wp-submenu.wp-submenu-wrap{
  display: none;
}
.wp-admin.post-type-system h1 .page-title-action,
.wp-admin.post-type-system .tablenav.top,
.wp-admin.post-type-slide h1 .page-title-action,
.wp-admin.post-type-slide .tablenav.top{
  display: none;
}
.wp-admin.post-type-system .subsubsub,
.wp-admin.post-type-system .search-box,
.wp-admin.post-type-slide .subsubsub,
.wp-admin.post-type-slide .search-box{
  display: none;
}



.loginname{
  font-size: 12px !important;
  font-weight: bold;
}
.logoutbtn{
  font-size: 11px;
  font-weight: bold;
  background: #333;  
  padding: 2px 10px;
  color: #f1f1f1;
  margin-left: 10px;
}
.logoutbtn:hover{
  background: #666;
  color: #f1f1f1;
}

.wp-submenu-wrap{
  box-sizing: border-box;
  padding: 6px !important;
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu *:before{
  color: rgba(205, 233, 241, 1) !important;
}

#dashboard_right_now{
  display: none;
}



@media screen and (max-width:782px) {
  #adminmenu .wp-not-current-submenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu{
    min-width: 190px;
  }
  .dashboard_navi li{
    float: none;
    min-width: 100%;
  }
  .wp-editor-area{
    font-size: 16px !important;
    resize: none;
    -webkit-appearance: none;
  }
  #poststuff{
    min-width: 100%;
  }
  .auto-fold #adminmenu div.wp-menu-image{
    height: 34px !important;
  }
  .auto-fold #adminmenu .wp-menu-name{
    margin-left: 34px !important;
  }
  .wp-submenu-wrap{
    background: #0b2824 !important;
    box-sizing: border-box;
    font-size: 12px;
  }
  .wp-submenu-wrap a{
    font-size: 12px !important;
    background: #0b2824 !important;
  }
  .wp-submenu-wrap a:hover{
    background: rgba(205, 233, 241, 1) !important;
    color: #0b2824 !important;
  }
  .wp-menu-open .wp-submenu-head{
    color: #0b2824 !important;    
    background: #0b2824 !important;
  }
  .dashicons-before:before,
  .wp-menu-name {
    line-height: 1em;
  }
  .wrap{
    margin-right: 10px !important;
  }

}


.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before{
  color: rgba(205, 233, 241, 1);
}
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a{
  background: rgba(44, 96, 88, 1);
}
#wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before,
#wpadminbar #wp-admin-bar-menu-toggle:hover .ab-icon:before,
#wpadminbar #wp-admin-bar-new-content:hover .ab-icon:before,
#wpadminbar #wp-admin-bar-root-default li .ab-icon:before{
  color: rgba(205, 233, 241, 1) !important;  
}


#adminmenu .current div.wp-menu-image:before, #adminmenu .wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before, #adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before {
  color: rgba(44, 96, 88, 1);
}

#wp-admin-bar-top-secondary,
#wp-admin-bar-site-name,
#wp-admin-bar-new-content,
#wp-admin-bar-comments,
#wp-admin-bar-wp-logo,
#wp-admin-bar-updates{
  display: none !important;
}

.wp-not-current-submenu .wp-submenu-head{
  color: rgba(44, 96, 88, 1) !important;
}





/*=====================
=====================*/
.role-editor #screen-meta-links{
  display: block;
}
.role-editor .wp-submenu.wp-submenu-wrap{
  display: none;  
}

